.app-container {
  background-color: #8f57fd;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
.login-container {
  background-image: linear-gradient(#21c08b, #ab88ff);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.d-none {
  display: none;
}
